@use "../../assets/styles/size.scss" as size;
.container {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/4;
  .link {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .icon {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

@media screen and (max-width: size.$small) {
  .container {
    padding: 0 24px;
    box-sizing: border-box;
    height: 100vh;

    .link {
      margin-top: 32px;
    }
  }
}
