@use "../../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../../assets/styles/text-style.scss" as textStyle;
@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/reset.scss" as reset;
.container {
  background-color: #fff;

  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  * {
    box-sizing: border-box;
  }
}
