@use "../../../../assets/styles/reset.scss" as reset;
.input {
  ///padding: 4px 12px;
  input {
    padding: 4px 12px;
    box-sizing: border-box;
  }
  .button {
    @include reset.indents;
    padding: 4px 12px;
    box-sizing: border-box;
  }
}
