@import "../../../assets/styles/font-family.scss";
@import "../../../assets/styles/text-style.scss";
@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/reset.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  //padding-top: 14px;
  margin-bottom: 18px;
}
.name_container {
  @include fieldset;
  display: flex;
  gap: 12px;
}
.button {
  display: flex;
  justify-content: flex-end;
}
