@use "../../../../assets/styles/size.scss" as size;
@use "../../../../assets/styles/colors.scss" as colors;
.appbar {
  margin-top: 1px;
  display: none;
  margin-bottom: 32px;
  .toolbar {
    background-color: colors.$blue;
    display: none;
    justify-content: space-around;
  }
}

@media screen and (max-width: size.$small) {
  .appbar {
    display: block;
    .toolbar {
      display: flex;
    }
  }
}
