@import "../../../../assets/styles/size.scss";
@import "../../../../assets/styles/colors.scss";
.appbar {
  margin-top: 1px;
  display: none;
  margin-bottom: 32px;
  .toolbar {
    background-color: $blue;
    display: none;
    justify-content: space-around;
  }
}

@media screen and (max-width: $small) {
  .appbar {
    display: block;
    .toolbar {
      display: flex;
    }
  }
}
