@import "../../../../assets/styles/font-family.scss";
@import "../../../../assets/styles/text-style.scss";
@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/reset.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 20px;

  box-sizing: border-box;
  .tree {
    width: 100%;
  }
}

.link {
  text-decoration: none;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marker {
  font-family: $Roboto;
  font-size: 24px;
  font-weight: 500;
  color: red;
}
