@use "../../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../../assets/styles/text-style.scss" as textStyle;
@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/reset.scss" as reset;
.container {
  * {
    box-sizing: border-box;
  }
}
.title {
  font-family: fontFamily.$Roboto;
  font-weight: 600;
  margin-bottom: 12px;
}

.content {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  padding: 12px;
  flex-direction: column;
}
.row {
  display: flex;
  padding-bottom: 12px;
  align-items: center;
}
.description {
  font-family: fontFamily.$Roboto;
  font-size: 12px;
  padding-left: 4px;
  color: #808080;
}
.text {
  font-family: fontFamily.$Roboto;
  font-size: 12px;
  padding-left: 4px;
}
