@import "../../../assets/styles/font-family.scss";
@import "../../../assets/styles/text-style.scss";
@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/reset.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  //padding-top: 14px;
  margin-bottom: 18px;
}

.fields {
  @include fieldset;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.alert {
  margin: 14px auto;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row !important;
  margin: 8px;
}
