@use "../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../assets/styles/text-style.scss" as textStyle;
@use "../../../assets/styles/colors.scss" as colors;
@use "../../../assets/styles/reset.scss" as reset;

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  //padding-top: 14px;
  margin-bottom: 18px;
}
.fields {
  @include reset.fieldset;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.info_input {
  border-color: rgba(199, 188, 188, 0.8392156863);
  border-radius: 4px;
}
.button {
  display: flex;
  justify-content: flex-end;
}
