@use "../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../assets/styles/text-style.scss" as textStyle;
@use "../../../assets/styles/colors.scss" as colors;
@use "../../../assets/styles/reset.scss" as reset;
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal {
  width: 100%;

  .content {
    padding-top: 14px !important;
  }
}
.fields {
  @include reset.fieldset;
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}
.button {
  display: flex;
  justify-content: flex-end;
}
