@import "../../assets/styles/font-family.scss";
@import "../../assets/styles/text-style.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/reset.scss";
@import "../../assets//styles/size.scss";
.main {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 3fr 1fr;
  //grid-template-columns: repeat(3, auto);
  gap: 32px;
  padding: 32px;
  min-height: calc(100vh - 120px);
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: $small) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
