.tab-container {
  padding: 12px 24px;

  margin-bottom: 24px;
}
.head {
  background-color: #fff;
}
.tab {
  font-size: 12px;
}
// Стили для content в index.css

.panel {
  margin-top: 24px;
  background-color: #fff;
  width: 100%;
}
