@use "../../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../../assets/styles/text-style.scss" as textStyle;
@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/reset.scss" as reset;
@use "../../../../assets/styles/size.scss" as size;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  .list {
    align-self: flex-start;
  }
  .MuiFormControl-root {
    width: 100%;
  }
}

@media screen and (max-width: size.$small) {
  .container {
    align-items: flex-start;
  }
  .search {
    width: 100%;
  }
}
