body {
  margin: 0;
  background-color: #f1f5fc;
}

/* .MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding-top: 20px;
} */
.MuiDialog-paper {
  max-width: 600px;
  width: 100%;
}
.MuiTypography-root.MuiFormControlLabel-label {
  font-size: 12px;
}
.MuiCircularProgress-indeterminate {
  width: 24px !important;
  height: 24px !important;
}

.content {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap: 24px;
  & .MuiBox-root {
    padding: 0;
  }
}

.info {
  border-color: #c7bcbcd6;
  border-radius: 4px;
}
.info:focus {
  outline: 1px solid #1976d2;
  border-color: #1976d2;
}
h1,
h2,
p {
  margin: 0;
}

.notfound {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: rgb(38, 107, 241);
  padding: 24px;
}

/* .ExcelTable2007 {
  border: 1px solid #b0cbef;

  border-width: 1px 0px 0px 1px;
  font-size: 11pt;
  font-family: Calibri;
  font-weight: 100;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 10px;

  max-width: 300px;
  overflow: auto;
}

.ExcelTable2007 TH {
  background-image: url(excel-2007-header-bg.gif);
  background-repeat: repeat-x;
  background-color: #e4ecf7;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #9eb6ce;
  border-width: 0px 1px 1px 0px;
  height: 17px;
  line-height: 17px;
}

.ExcelTable2007 TD {
  border: 0px;
  background-color: white;
  padding: 0px 4px 0px 2px;
  border: 1px solid #d0d7e5;
  border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
  border: 0px;
  background-color: white;
  font-weight: bold;
}

.ExcelTable2007 TD.heading {
  background-color: #e4ecf7;
  text-align: center;
  border: 1px solid #9eb6ce;
  border-width: 0px 1px 1px 0px;
  font-weight: bold;
}

.ExcelTable2007 TH.heading {
  background-image: url(excel-2007-header-left.gif);
  background-repeat: none;
}

TH {
  text-align: center;
} */

.well {
  cursor: pointer;
}

#tooltip {
  background: #fff;
  border-radius: 5px;
  padding: 8px;
  color: #3761ee;
  font-size: 14px;
  font-weight: 700;
  box-shadow: -1px 2px 8px 0px rgba(59, 59, 59, 0.2);
}
