@import "../../../assets/styles/font-family.scss";
@import "../../../assets/styles/text-style.scss";
@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/reset.scss";
@import "../../../assets/styles/size.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  //padding-top: 14px;
  margin-bottom: 24px;
  //max-height: 400px;
}
.fields {
  @include fieldset;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tree {
  @include fieldset;
  max-height: 200px;
  overflow-y: auto;
}
.button {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}
.alert {
  margin: 14px auto;
}

@media screen and (max-width: $small) {
  .button {
    flex-direction: column;
  }
}
