@use "./font-family.scss" as fontFamily;
@use "./text-style.scss" as textStyle;
@use "./colors.scss" as colors;
@use "./reset.scss" as reset;
@use "./size.scss" as size;
.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: colors.$black-text;
  font-weight: 600;
  margin-bottom: 8px;
}

.searchInput {
  border: 1px solid #1c37ad;
  height: 30px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  padding-left: 8px;
}

.searchInput::placeholder {
  font-size: 14px; 
  color: #b1b1b1;
}

.searchInput:focus {
  outline: none;
}

@media screen and (max-width: size.$small) {
  .title {
    margin: 32px 24px 32px 24px;
  }
  .section-left,
  .section-right {
    padding: 0 24px;
    width: 100%;
    box-sizing: border-box;
  }
}
