@use "../../../../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../../../../assets/styles/text-style.scss" as textStyle;
@use "../../../../../../assets/styles/colors.scss" as colors;
@use "../../../../../../assets/styles/reset.scss" as reset;

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  .cell-control {
    color: colors.$control-text;
  }
  .cell-last {
    color: colors.$last-text;
  }
  .cell-selected {
    color: colors.$selected-text;
  }
}
