@use "../../assets/styles/font-family.scss" as fontFamily;
@use "../../assets/styles/text-style.scss" as textStyle;
@use "../../assets/styles/colors.scss" as colors;
@use "../../assets/styles/reset.scss" as reset;
.link {
  display: flex;
  text-decoration: none;
  color: #000;
}

.icon {
  color: colors.$blue;
}
