@use "../../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../../assets/styles/text-style.scss" as textStyle;
@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/reset.scss" as reset;
@use "../../../../assets/styles/size.scss" as size;

.info {
  display: none;
  flex-direction: column;
  padding: 0 24px;
  margin-bottom: 32px;
  gap: 8px;
}
.text {
  font-family: fontFamily.$Roboto;
  font-size: 16px;
  font-weight: 400;
}
.span {
  font-weight: 500;
}
.drop {
  display: flex;
  gap: 4px;
  align-items: center;
  color: colors.$blue-text;
}
@media screen and (max-width: size.$small) {
  .info {
    display: flex;
  }
}
