@import "../../assets/styles/font-family.scss";
@import "../../assets/styles/text-style.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/reset.scss";
@import "../../assets//styles/size.scss";
.header {
  .toobar {
    background-color: $blue;
    display: flex;
    justify-content: space-between;
  }

  .icon_burger {
    color: #fff;
  }

  .user_info {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }
  .name {
    margin-left: 16px;
  }
}

@media screen and (max-width: $medium) {
  .name {
    display: none;
  }
}
