@use "../../assets/styles/font-family.scss" as fontFamily;
@use "../../assets/styles/text-style.scss" as textStyle;
@use "../../assets/styles/colors.scss" as colors;
@use "../../assets/styles/reset.scss" as reset;
@use "../../assets//styles/size.scss" as size;
.header {
  .toobar {
    background-color: colors.$blue;
    display: flex;
    justify-content: space-between;
  }

  .icon_burger {
    color: #fff;
  }

  .user_info {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }
  .name {
    margin-left: 16px;
  }
}

@media screen and (max-width: size.$medium) {
  .name {
    display: none;
  }
}
