@use "../../assets/styles/font-family.scss" as fontFamily;
@use "../../assets/styles/text-style.scss" as textStyle;
@use "../../assets/styles/colors.scss" as colors;
@use "../../assets/styles/reset.scss" as reset;
// @use "../../assets/styles/reset.scss" as ;
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form {
  max-width: 444px;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  //border: 1px red solid;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    @include textStyle.h1-regular;
    color: colors.$blue;
    margin-bottom: 20px;
  }
  .subtitle {
    @include textStyle.p12-regular;
    color: colors.$grey;
    margin-bottom: 12px;
  }
  .fields {
    @include reset.fieldset;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .btn-container {
    @include reset.fieldset;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    * {
      width: 100%;
    }
  }

  .link {
    @include textStyle.p16-regular;
    color: colors.$blue;
    text-decoration: none;
  }
}
.error {
  display: inline-block;
  @include textStyle.p12-regular;
  color: red;
  min-height: 16px;
  min-width: 400px;
}
