@use "../../../../assets/styles/font-family.scss" as fontFamily;
@use "../../../../assets/styles/text-style.scss" as textStyle;
@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/reset.scss" as reset;

.container {
  background-color: #ffff;
  padding: 20px;
  margin-bottom: 20px;
}

.fields {
  @include reset.fieldset;

  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.head {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
